form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 20px;

  padding-top: 20px;
  position: absolute;
  min-height: 40%;
  width: 300px;
  left: calc(50% - 150px);
  background: #87bba2;

  border: 3px solid #f1f1f1;
  margin-top: 10px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;

  background: #87bba2;
}
.conti {
  padding: 16px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #87bba2;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

input {
  border-radius: 20px;
}

button {
  border-radius: 20px;
}

.red {
  min-height: 81vh;
}
nav .start-home,
a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
  background-color: #e74c3c;
}
