.red {
  overflow-y: inherit;
}

.hamburger {
  z-index: 1;
  display: block;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.logo {
  display: block;
  width: 100%;
  margin-right: 0;
  z-index: -1;
  margin-left: auto;
}

.logo_conti {
  position: absolute;
  left: calc();
}

@media screen and (max-width: 800px) {
  .logo_conti {
    display: none;
  }
}
